<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>{% block title %}DPDK Performance Test Lab Dashboard{% endblock %}</title>
</head>
<body>
  <nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="/results-static/DPDK_logo_horizontal.svg" width="89" height="25" class="d-inline-block align-middle" alt="DPDK">
        CI Dashboard
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          {% if request.user.is_authenticated %}
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ request.user }}</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'logout' %}?next={{ next|default:request.path }}">Logout</a>
          </div>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}?next={{ next|default:request.path }}">Login</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        {% block breadcrumb_items %}
        <li class="breadcrumb-item active" aria-current="page">Home</li>
        {% endblock %}
      </ol>
    </nav>

    {% if banner %}
    <p class="border bg-{{ banner.bg_class }}">{{ banner.text }}</p>
    {% endif %}

    {% block content %}
    <p>Content goes here.</p>
    {% endblock %}

    <p class="border-top text-muted">Copyright &copy; 2018
    <a class="text-secondary" href="https://dpdk.org" target="_blank">DPDK Project</a>.
    Hosted by the
    <a class="text-secondary" href="https://www.iol.unh.edu" target="_blank">
    University of New Hampshire InterOperability Laboratory</a>.</p>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
