{% for ps in patchsets %}
<td>
  <span class="badge badge-{{ ps.status_class }}" title="{{ ps.status_tooltip }}">{{ ps.status }}</span>
  {% if ps.incomplete > 0 or ps.passed > 0 or ps.failed > 0 %}
  {# May remove nowrap in the future, but since we have a small number of nodes, this should be fine. #}
  <div class="text-nowrap" title="Summary of tests on all active environments: {{ ps.incomplete }} incomplete, {{ ps.passed }} passed, and {{ ps.failed }} failed">
    {% for i in ps.incomplete_range %}
    <span class="bg-secondary px-2 mr-1"></span>
    {% endfor %}
    {% for i in ps.passed_range %}
    <span class="bg-success px-2 mr-1"></span>
    {% endfor %}
    {% for i in ps.failed_range %}
    <span class="bg-danger px-2 mr-1"></span>
    {% endfor %}
  </div>
  {% endif %}
</td>
<td>
  <div class="d-flex justify-content-between flex-column flex-md-row">
    <div>
      <a href="{% url 'dashboard-detail' ps.id %}">{{ ps.patchwork_range_str|safe }}</a>
      {% if ps.series.version > 1 %}
      <span class="badge badge-pill badge-secondary" title="Patch version">v{{ ps.series.version }}</span>
      {% endif %}
    </div>
    <div class="text-muted">
      <small>{{ ps.submitter }}</small>
    </div>
  </div>
  <div>
    {{ ps.series.name }}
  </div>
</td>
{% if request.user.is_superuser %}
<td class="text-nowrap">{{ ps.time_to_last_test }}</td>
{% endif %}
{% endfor %}
