{% extends "base.html" %}

{% block breadcrumb_items %}
  <li class="breadcrumb-item active" aria-current="page">Home</li>
{% endblock %}

{% block content %}
  <p>Below is the current CI performance testing status for the patchsets
  currently active in the DPDK Patchwork instance. Possible statuses are
  Pending, Waiting, Apply Error, Incomplete, Possible Regression, and
  Pass. NIC vendors may log in to view detailed performance results for
  their hardware.</p>
  {% for message in messages %}
    <div class="alert alert-{{ message.tags  }} alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      {{ message  }}
    </div>
  {% endfor %}
  <div class="table-responsive-sm">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Status [<a href="#" data-toggle="popover" title="Status Legend" data-content="<dl>{% for s in statuses %}<dt><span class=&quot;bg-{{ s.class }}&quot;>&nbsp;&nbsp;&nbsp;</span>&nbsp;{{ s.name }}</dt><dd>{{ s.tooltip }}</dd>{% endfor %}</dl>" data-html="true">?</a>]</th>
          <th title="Patch information">Patch</th>
          {% if request.user.is_superuser %}
          <th title="The time it took from when the patchset was submitted to when the last test run completed.">Time</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for ps in patchsets %}
        <tr>
          <td>
            <span class="badge badge-{{ ps.status_class }}" title="{{ ps.status_tooltip }}">{{ ps.status }}</span>
            {% if ps.incomplete > 0 or ps.passed > 0 or ps.failed > 0 %}
            {# May remove nowrap in the future, but since we have a small number of nodes, this should be fine. #}
            <div class="text-nowrap" title="Summary of tests on all active environments: {{ ps.incomplete }} incomplete, {{ ps.passed }} passed, and {{ ps.failed }} failed">
              {% for i in ps.incomplete_range %}
              <span class="bg-secondary px-2 mr-1"></span>
              {% endfor %}
              {% for i in ps.passed_range %}
              <span class="bg-success px-2 mr-1"></span>
              {% endfor %}
              {% for i in ps.failed_range %}
              <span class="bg-danger px-2 mr-1"></span>
              {% endfor %}
            </div>
            {% endif %}
          </td>
          <td>
            <div class="d-flex justify-content-between flex-column flex-md-row">
              <div>
                <a href="{% url 'dashboard-detail' ps.id %}">{{ ps.patchwork_range_str|safe }}</a>
                {% if ps.series.version > 1 %}
                <span class="badge badge-pill badge-secondary" title="Patch version">v{{ ps.series.version }}</span>
                {% endif %}
              </div>
              <div class="text-muted">
                <small>{{ ps.submitter }}</small>
              </div>
            </div>
            <div>
              {{ ps.series.name }}
            </div>
          </td>
          {% if request.user.is_superuser %}
          <td class="text-nowrap">{{ ps.time_to_last_test }}</td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% include 'pagination.html' %}
{% endblock %}

{% block js %}
  <script>
    $(function () {
      $('[data-toggle="popover"]').popover()
    })
  </script>
{% endblock %}
