{% extends "base.html" %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block breadcrumb_items %}
  <li class="breadcrumb-item active" aria-current="page">Home</li>
{% endblock %}

{% block content %}
  <p>Below is the current CI performance testing status for the patchsets
  currently active in the DPDK Patchwork instance. Possible statuses are
  Pending, Waiting, Apply Error, Build Error, Incomplete, Possible Regression, and
  Pass. NIC vendors may log in to view detailed performance results for
  their hardware.</p>
  {% for message in messages %}
    <div class="alert alert-{{ message.tags  }} alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      {{ message  }}
    </div>
  {% endfor %}
  <div class="table-responsive-sm">
    <table class="table table-hover">
      <thead>
        <tr>
          <th title="Patch status. More information can be found by hovering over a status or by seeing the about page.">Status</th>
          <th title="Patch information">Patch</th>
          {% if request.user.is_superuser %}
          <th title="The time it took from when the patchset was submitted to when the last test run completed.">Time</th>
          {% endif %}
        </tr>
      </thead>
      <tbody id="dashboard-table" data-start="{{ start }}" data-end="{{ end }}" data-limit="{{ limit }}">
        {# Initially show placeholder rows until items are loaded #}
        {% for i in range %}
        <tr id="row-{{ i }}">
          <td title="Fetching patch information...">
            <i class="fas fa-sync-alt fa-spin"></i>
          </td>
          <td>
            <div>&nbsp;</div>
            <div>&nbsp;</div>
          </td>
          {% if request.user.is_superuser %}
          <td></td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% include 'pagination.html' %}
{% endblock %}

{% block js %}
  <script src="{% url 'js-error-handler-js' %}"></script>
  {# Required polyfills to use the fetch (and promise) api #}
  <script src="https://cdn.jsdelivr.net/npm/es6-promise@4.2.5/dist/es6-promise.auto.min.js" integrity="sha256-8qFPvAMQLj9hOXkNoEO0iOXQx2tHyA8XWkym5O3dxqM=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/whatwg-fetch@3.0.0/dist/fetch.umd.js" integrity="sha256-mgxDAbboBKeoCOtpaU7QhWdgWBGum+8dPxnIjiC97JI=" crossorigin="anonymous"></script>
  <script src="{% static 'build/dashboard.js' %}"></script>
  <script>
    $(function () {
      $('[data-toggle="popover"]').popover()
    })
  </script>
{% endblock %}
