{% extends "base.html" %}

{% block breadcrumb_items %}
  <li class="breadcrumb-item active" aria-current="page">Home</li>
{% endblock %}

{% block content %}
  <p>Below is the current CI performance testing status for the patchsets
  currently active in the DPDK Patchwork instance. Possible statuses are
  Pending, Waiting, Apply Error, Incomplete, Possible Regression, and
  Pass. NIC vendors may log in to view detailed performance results for
  their hardware.</p>
  <div class="table-responsive-sm">
    <table class="table table-hover">
      <thead>
        <tr><th>ID</th><th>Ver</th><th>Title</th><th>Submitter</th>
          <th>Status [<a href="#" data-toggle="popover" title="Status Legend" data-content="<dl>{% for s in statuses %}<dt><span class=&quot;bg-{{ s.class }}&quot;>&nbsp;&nbsp;&nbsp;</span>&nbsp;{{ s.name }}</dt><dd>{{ s.tooltip }}</dd>{% endfor %}</dl>" data-html="true">?</a>]</th>
          {% if request.user.is_superuser %}
          <th>Time [<a href="#" data-toggle="popover" title="Time to Completion" data-content="The time it took from when the patchset was submitted to when the last test run completed.">?</a>]</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for ps in patchsets %}
        <tr class="table-{{ ps.status_class }}">
          <td><a href="{% url 'dashboard-detail' ps.id %}">{{ ps.patchwork_range_str|safe }}</a></td>
          <td>{{ ps.series.version }}</td>
          <td>{{ ps.series.name }}</td>
          <td>{{ ps.submitter }}</td>
          <td title="{{ ps.status_tooltip }}">{{ ps.status }}</td>
          {% if request.user.is_superuser %}
          <td class="text-nowrap">{{ ps.time_to_last_test }}</td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% include 'pagination.html' %}
{% endblock %}

{% block js %}
  <script>
    $(function () {
      $('[data-toggle="popover"]').popover()
    })
  </script>
{% endblock %}
