{% if environments %}
<h3>Disclaimers</h3>
<p>Intel Corporation:</p>
<blockquote class="blockquote text-muted border-left ml-4">
  <div class="ml-4">
    <p>
      <small>
        Software and workloads used in performance tests may have been
        optimized for performance only on Intel microprocessors.
      </small>
    </p>
    <p>
      <small>
        Performance tests, such as SYSmark and MobileMark, are measured using
        specific computer systems, components, software, operations and
        functions. Any change to any of those factors may cause the results
        to vary. You should consult other information and performance tests
        to assist you in fully evaluating your contemplated purchases,
        including the performance of that product when combined with other
        products. For more complete information visit
        <a href="https://www.intel.com/benchmarks/">www.intel.com/benchmarks</a>.
      </small>
    </p>
    <p>
      <small>
        Performance results are based on testing as of {{ tarball.date|date }}
        and may not reflect all publicly available security updates.
        See configuration disclosure for details.
        No product can be absolutely secure.
      </small>
    </p>
  </div>
</blockquote>
<p>Mellanox Technologies:</p>
<blockquote class="blockquote text-muted border-left ml-4">
  <div class="ml-4">
    <p>
      <small>
        The tests and the results published here which refer to Mellanox'
        products or software, are provided "AS IS". Mellanox disclaims all
        warranties, including, but not limited to, any warranty of title,
        non-infringement, merchantability, security and fitness of any
        results.
      </small>
    </p>
  </div>
</blockquote>
{% endif %}
