<table>
{% for ps in patchsets %}
  <tr>
    <td>
      <span class="badge badge-{{ ps.status_class }}" title="{{ ps.status_tooltip }}">{{ ps.status }}</span>
      {# May remove nowrap in the future, but since we have a small number of nodes, this should be fine. #}
      <div class="text-nowrap">
        {% include 'result_summary.html' with obj=ps %}
      </div>
    </td>
    <td>
      <div class="d-flex justify-content-between flex-column flex-md-row">
        <div>
          <a href="{% url 'patchset_detail' ps.id %}">{{ ps.patchwork_range_str|safe }}</a>
          {% if ps.series.version > 1 %}
          <span class="badge badge-pill badge-secondary" title="Patch version">v{{ ps.series.version }}</span>
          {% endif %}
        </div>
        <div class="text-muted">
          <small>{{ ps.submitter }}</small>
        </div>
      </div>
      <div>
        {{ ps.series.name }}
      </div>
    </td>
    {% if request.user.is_superuser %}
    <td class="text-nowrap">{{ ps.time_to_last_test }}</td>
    {% endif %}
  </tr>
{% endfor %}
</table>
