{% extends "base.html" %}
{% load static %}

{% block breadcrumb_items %}
<li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
<li class="breadcrumb-item"><a href="{% url 'patchset_list' %}">Patch sets</a></li>
<li class="breadcrumb-item active" aria-current="page">Patch set</li>
{% endblock %}

{% block content %}
{% include "messages.html" %}
<h1>
  Patch set {{ patchset.patchwork_range_str|safe }}
  {% if patchset.series.version > 1 %}
    <small class="ml-1">
      <span class="badge badge-pill badge-secondary" title="Patch version">
        v{{ patchset.series.version }}
      </span>
    </small>
  {% endif %}
</h1>
{% if patchset.series.name %}
  <h3 class="text-muted">{{ patchset.series.name }}</h3>
{% endif %}

<dl class="row">
  <dt class="col-sm-3">Submitter</dt>
  <dd class="col-sm-9">{{ patchset.series.submitter }}</dd>

  {# patches that fail applying will have the commit id in the patch set (tarball will not be defined) #}
  {% if tarball or patchset.commit_id %}
    <dt class="col-sm-3">Applied on</dt>
    <dd class="col-sm-9">
      {% if tarball %}
        {% include "commit.html" with obj=tarball %}
      {% elif patchset.commit_id %}
        {% include "commit.html" with obj=patchset %}
      {% endif %}
    </dd>
  {% endif %}

  <dt class="col-sm-3">Date submitted</dt>
  <dd class="col-sm-9">{{ patchset.date }}</dd>

  {% if tarball.tarball_url %}
    <dt class="col-sm-3">Tarball</dt>
    <dd class="col-sm-9"><a href="{{ tarball.tarball_url }}">{{ tarball.tarball_name }}</a></dd>
  {% endif %}
</dl>

<ul>
  {% for p in patchset.series.patches %}
  <li><a href="https://patches.dpdk.org/patch/{{ p.id }}">{{ p.name }}</a></li>
  {% endfor %}
</ul>
{% include 'result_summary.html' with obj=patchset %}
{% if user.is_authenticated %}
<form class="form-inline mb-3" action="{% url 'dashboard_rebuild' patchset.id %}?next={% url 'patchset_detail' patchset.id %}" method="POST">
  {% csrf_token %}
  <div class="form-group">
    <label class="mr-3" for="branch-select">Apply patch to</label>
    <select id="branch-select" class="form-control mr-3" name="branch">
      {% for branch in branches %}
      <option value="{{ branch.name }}">{{ branch.name }}</option>
      {% endfor %}
    </select>
  </div>
  <input type="submit" class="btn btn-warning" value="Rebuild">
</form>
{% endif %}
{% if patchset.has_error and patchset.build_log %}
<pre class="bg-dark text-light p-2">{{ patchset.build_log }}</pre>
{% else %}
{% include 'environment_results.html' %}
{% endif %}
{% include 'disclaimers.html' %}
{% endblock %}

{% block js %}
<script src="{% static 'build/app.bundle.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.1/anchor.min.js" integrity="sha256-pB/deHc9CGfFpJRjC43imB29Rse8tak+5eXqntO94ck=" crossorigin="anonymous"></script>
<script>anchors.add('h2');</script>
{% endblock %}
