{% extends "base.html" %}

{% block title %}Patch set {{ patchset.id }}{% endblock %}

{% block breadcrumb_items %}
<li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
<li class="breadcrumb-item" aria-current="page"><a href="{% url 'patchset_list' %}">Patch sets</a></li>
<li class="breadcrumb-item active" aria-current="page">Patch set</li>
{% endblock %}

{% block content %}
{% for message in messages %}
<div class="alert alert-{{ message.tags  }} alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  {{ message  }}
</div>
{% endfor %}
<h1>Patch Set {{ patchset.patchwork_range_str|safe }}</h1>
<dl>
  <div class="row">
    <dt class="col">Submitter</dt>
    <dd class="col-10">{{ patchset.submitter }}</dd>
  </div>
  {# patches that fail applying will have the commit id in the patch set (tarball will not be defined) #}
  {% if tarball or patchset.commit_id %}
  <div class="row">
    <dt class="col">Applied on</dt>
    <dd class="col-10">
      {% if tarball %}
      {% include "commit.html" with obj=tarball %}
      {% elif patchset.commit_id %}
      {% include "commit.html" with obj=patchset %}
      {% endif %}
    </dd>
  </div>
  {% endif %}
  <div class="row">
    <dt class="col">Date submitted</dt>
    <dd class="col-10">{{ patchset.date|date:"DATETIME_FORMAT" }}</dd>
  </div>
  {% if tarball.tarball_url %}
  <div class="row">
    <dt class="col">Tarball</dt>
    <dd class="col-10"><a href="{{ tarball.tarball_url }}">{{ tarball.tarball_name }}</a></dd>
  </div>
  {% endif %}
</dl>
<ul>
  {% for p in patchset.patches %}
  <li><a href="https://patches.dpdk.org/patch/{{ p.id }}">{{ p.name }}</a></li>
  {% endfor %}
</ul>
{% include 'test_status.html' with obj=patchset %}
{% if patchset.has_error and user.is_authenticated %}
<form class="form-inline my-5" action="{% url 'dashboard_rebuild' patchset.id %}?next={% url 'patchset_detail' patchset.id %}" method="POST">
  {% csrf_token %}
  <div class="form-group">
    <label class="mr-3" for="branch-select">Retry applying patch to</label>
    <select id="branch-select" class="form-control mr-3" name="branch">
      {% for branch in branches %}
      <option value="{{ branch.name }}">{{ branch.name }}</option>
      {% endfor %}
    </select>
  </div>
  <input type="submit" class="btn btn-warning" value="Rebuild">
</form>
{% endif %}
{% if patchset.has_error and patchset.build_log %}
<pre class="bg-dark text-light p-2">{{ patchset.build_log }}</pre>
{% else %}
{% include 'environment_results.html' %}
{% endif %}
{% include 'disclaimers.html' %}
{% endblock %}

{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.1/anchor.min.js" integrity="sha256-pB/deHc9CGfFpJRjC43imB29Rse8tak+5eXqntO94ck=" crossorigin="anonymous"></script>
<script>anchors.add('h2');</script>
{% endblock %}
