{% extends "base.html" %}

{% block title %}Preferences{% endblock %}

{% block breadcrumb_items %}
  <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
  {% block breadcrumb_preference %}
  {% endblock %}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-sm-4 col-lg-3">
      <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
        <a class="nav-link{% if title == 'Subscriptions' %} active{% endif %}" href="{% url 'subscriptions' %}" role="tab">Subscriptions</a>
        <a class="nav-link{% if title == 'Password change' %} active{% endif %}" href="{% url 'password_change' %}" role="tab">Password change</a>
      </div>
    </div>
    <div class="col">
      <div class="tab-content">
      {% block preference %}
      {% endblock %}
      </div>
    </div>
  </div>
  <br>
{% endblock %}
