{% extends "base.html" %}

{% block breadcrumb_items %}
<li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
<li class="breadcrumb-item"><a href="{% url 'tarball_list' %}">Tarballs</a></li>
<li class="breadcrumb-item active" aria-current="page">Tarball</li>
{% endblock %}

{% block content %}
{% include "messages.html" %}

<h1>{{ title }}</h1>

<dl class="row">
  <dt class="col-sm-3">Tarball Info</dt>
  <dd class="col-sm-9">
    {% include "commit.html" with obj=tarball %}
  </dd>

  {% if tarball.date %}
    <dt class="col-sm-3">Date created</dt>
    <dd class="col-sm-9">{{ tarball.date }}</dd>
  {% endif %}

  {% if tarball.tarball_url %}
    <dt class="col-sm-3">Tarball</dt>
    <dd class="col-sm-9"><a href="{{ tarball.tarball_url }}">{{ tarball.tarball_name }}</a></dd>
  {% endif %}

  {% if tarball.patchset %}
    <dt class="col-sm-3">Associated patch set</dt>
    <dd class="col-sm-9"><a href="{% url 'patchset_detail' tarball.patchset.id %}">{{ tarball.patchset.id }}</a></dd>
  {% endif %}
</dl>

{% include 'result_summary.html' with obj=tarball %}
{% include 'environment_results.html' %}
{% include 'disclaimers.html' %}
{% endblock %}

{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.1/anchor.min.js" integrity="sha256-pB/deHc9CGfFpJRjC43imB29Rse8tak+5eXqntO94ck=" crossorigin="anonymous"></script>
<script>anchors.add('h2');</script>
{% endblock %}
