{% extends "base.html" %}
{% load static %}
{% load templatehelpers %}

{% block content %}
<p>
  Below is the current CI testing status for tarballs created
  unrelated to submitted patches. Possible statuses are Waiting,
  Possible Regression, and Pass. NIC vendors may log in to view detailed
  performance results for their hardware.
</p>
{% include "messages.html" %}
<div class="dropdown mb-3 d-flex justify-content-end">
  <button type="button" class="btn btn-secondary dropdown-toggle" id="withPatchsetFilter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Showing: {{ shown.text }} tarballs
  </button>
  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="withPatchsetFilter">
    <h6 class="dropdown-header">Select which tarballs are shown</h6>
    <a class="dropdown-item {{ shown.without|yesno:'active,,' }}" href="{% query_transform tarballs='without' %}">Without associated patch sets</a>
    <a class="dropdown-item {{ shown.all|yesno:'active,,' }}" href="{% query_transform tarballs='all' %}">With and without associated patch sets</a>
    <a class="dropdown-item {{ shown.with|yesno:'active,,' }}" href="{% query_transform tarballs='with' %}">With associated patch sets</a>
  </div>
</div>
<div class="table-responsive-sm">
  <div class="table-responsive-sm" id="tarball-table"
       data-start="{{ start }}"
       data-end="{{ end }}"
       data-shown="{{ request.GET.tarballs }}"
       data-admin="{{ request.user.is_superuser }}"
  ></div>
</div>
{% include 'pagination.html' %}
{% endblock %}

{% block js %}
<script src="{% url 'js-error-handler-js' %}"></script>
{# Required polyfills to use the fetch api #}
<script src="https://cdn.jsdelivr.net/npm/whatwg-fetch@3.0.0/dist/fetch.umd.js" integrity="sha256-mgxDAbboBKeoCOtpaU7QhWdgWBGum+8dPxnIjiC97JI=" crossorigin="anonymous"></script>
<script src="{% static 'build/app.bundle.js' %}"></script>
{% endblock %}
