<dl class="row">
  <dt class="col-sm-3 col-lg-2">Test run at</dt>
  <dd class="col-sm-9 col-lg-10">
    {{ r.timestamp|date:"DATETIME_FORMAT" }}
    {% if r.timedelta and request.user.is_superuser %}
      ({{ r.timedelta }} since patchset posted)
    {% endif %}
  </dd>

  {% if r.commit_id %}
    <dt class="col-sm-3 col-lg-2">Baseline</dt>
    <dd class="col-sm-9 col-lg-10">
      {% include "commit.html" with obj=r %}
    </dd>
  {% endif %}

  <dt class="col-sm-3 col-lg-2">Fail/Total</dt>
  <dd class="col-sm-9 col-lg-10">{{ r.failure_count }}/{{ r.results|length }}</dd>
</dl>

{% if r.results %}
  <div class="table-responsive-sm">
    <table class="table table-hover table-sm mb-0">
      <thead>
        <tr>
          <th>Result</th>
          {% for parameter in r.results.0.measurement.parameters.values %}
            <th>
              {{ parameter.name }}
              ({{ parameter.unit }})
            </th>
          {% endfor %}
          {% if r.results.0.measurement %}
            <th>
              {{ r.results.0.measurement.name }} Difference
              ({{ r.results.0.measurement.unit }})
            </th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for item in r.results %}
          {% if not environment.live_since or environment.live_since > r.timestamp %}
            <tr class="table-secondary" title="This run does not affect the overall result above.">
              <td class="text-{{ item.result_class }}">{{ item.result }}</td>
          {% else %}
            <tr class="table-{{ item.result_class }}">
              <td>{{ item.result }}</td>
          {% endif %}
            {% for parameter in item.measurement.parameters.values %}
              <td>{{ parameter.value }}</td>
            {% endfor %}
            {% if item.difference is not None %}
              <td>{{ item.difference|floatformat:"-5" }}</td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endif %}

{% if r.log_upload_file %}
  <a class="btn btn-info mt-3 mr-3" href="{{ r.log_upload_file }}">Download test result artifacts</a>
  {% if r.is_owner %}
    <form class="d-inline" action="{% url 'testrun_togglepublic' r.id %}?next={{ request.path }}" method="POST">
      {% csrf_token %}
      {% if r.public_download %}
        <input type="submit" class="btn btn-secondary mt-3 mr-3" value="Set download private">
      {% else %}
        <input type="submit" class="btn btn-secondary mt-3 mr-3" value="Set download public">
      {% endif %}
    </form>
  {% endif %}
{% endif %}

{% if environment.pipeline and r.testcase.pipeline %}
  <form class="d-inline" action="{% url 'dashboard_rerun' r.id %}?next={{ request.path }}" method="POST">
    {% csrf_token %}
    <input type="submit" class="btn btn-warning mt-3" value="Rerun">
  </form>
{% endif %}
