{% extends "dashboard/base.html" %}
{% load static %}

{% block content %}
<h1>
  Job Status
  <small>
    {% if status and status.quietingDown %}
      <span class="text-warning fas fa-times-circle" title="The CI is in maintenance mode"></span>
    {% elif status %}
      <span class="text-success fas fa-check-circle" title="The CI is online"></span>
    {% else %}
      <span class="text-danger fas fa-times-circle" title="The CI is offline"></span>
    {% endif %}
  </small>
</h1>
{# The job status is the slow part of the API, so only use js for the jobs API #}
<div id="ci-status" data-jobsurl="{{ jobs_url }}"></div>
{% if nodes %}
  <h1>CI Nodes</h1>
  <div class="table-responsive">
    <table class="table table-sm">
      <thead>
      <tr>
        <th scope="col">Status</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
      </tr>
      </thead>
      <tbody>
        {% for node in nodes %}
          <tr>
            <td>
              {% if node.status == 'running' %}
                <span class="fas fa-circle-notch fa-spin text-primary" title="Running"></span>
              {% elif node.status == 'idle' %}
                <span class="fas fa-circle-notch text-secondary" title="Idle"></span>
              {% else %}
                {{ node.status }}
              {% endif %}
            </td>
            <td>{{ node.displayName }}</td>
            <td>{{ node.description }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endif %}
<h1>CI Build Queue</h1>
{% if queue %}
  <div class="table-responsive">
    <table class="table table-sm">
      <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Reason</th>
      </tr>
      </thead>
      <tbody>
        {% for queue_item in queue %}
          <tr>
            <td>{{ queue_item.task.name }}</td>
            <td>{{ queue_item.why }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% else %}
  <p>Empty</p>
{% endif %}
{% endblock %}

{% block js %}
<script src="{% url 'js-error-handler-js' %}"></script>
{# Required polyfills to use the fetch api #}
<script src="https://cdn.jsdelivr.net/npm/whatwg-fetch@3.0.0/dist/fetch.umd.js" integrity="sha256-mgxDAbboBKeoCOtpaU7QhWdgWBGum+8dPxnIjiC97JI=" crossorigin="anonymous"></script>
<script src="{% static 'build/app.bundle.js' %}"></script>
{% endblock %}
