{% extends "dashboard/preferences/base.html" %}
{% load static %}

{% block preference %}
<p>This token can be used for accessing the REST API.</p>
<div class="mb-3">
  <dt>Example</dt>
  <dd><code>curl -H "Authorization: Token XYZ" {{ api_url }}</code></dd>
</div>
<p>
  This token can only be seen once. Clicking generate will delete any previous
  token and generate a new one.
</p>
{% if api_token_created %}
<p class="text-info">A token exists for your account, which was created {{ api_token_created }}</p>
{% endif %}
<form class="mb-3" method="POST">
  {% csrf_token %}
  <button type="submit" class="btn btn-secondary">Generate</button>
</form>
{% include "dashboard/messages.html" %}
{% endblock %}
