{% extends 'dashboard/base.html' %}

{% block content %}

<div class="row justify-content-center">
  <div class="col-sm-8 col-md-6 col-lg-4">
    {% if form.errors %}
    <p>Incorrect username or password.</p>
    {% endif %}

    {% if next %}
      {% if user.is_authenticated %}
      <p>Access denied.</p>
      {% else %}
      <p>Please log in.</p>
      {% endif %}
    {% endif %}

    <form method="post" action="{% url 'login' %}">
      {% csrf_token %}
      <div class="form-group">
        {{ form.username.label_tag }}
        {{ form.username }}
      </div>
      <div class="form-group">
        {{ form.password.label_tag }}
        {{ form.password }}
      </div>

      <input type="submit" class="btn btn-primary btn-block" value="Log in">
      <input type="hidden" name="next" value="{{ next }}">
    </form>
    <br>
  </div>
</div>

{% endblock %}
